<div id="mealistwell"class="well">
  <ul *ngFor="let meal of childMealList | calories:filterByCalories">
    <button id="buttonedit" (click)="editButtonHasBeenClicked(meal)" class="mdl-button mdl-button--raised mdl-button--colored">
      <i class="material-icons"  >edit</i>
    </button>
    <li><h6>{{meal.name}}</h6></li>
    <ul>
      <li type="disc">{{meal.detail}}</li>
      <li type="disc">{{meal.calories}}</li>
      <hr id="hrmargin">
    </ul>
    <hr>
  </ul>
  <select   id="filterbox" class="selectpicker" data-live-search-style="startsWith" data-live-search="true" (change)="onChange($event.target.value)">
    <option id="selectbox" data-tokens="Kure" value="allLogs">All logs</option>
    <option data-tokens="ketchup mustard" value="lessCals">Less than 500cal</option>
    <option data-tokens="ketchup mustard" value="moreCals">More than 500cal</option>
  </select>
</div>
