<div class="container">
  <div id="logit">
    <div class="well">
      <h2 id="newlogtitle">Logular</h2>
      <form  class="group-control">
        <input placeholder="meal's name?" #newName  id="name" class="form-control" type="text" name="name" ><br>
        <input placeholder="what did you eat?"#newDetail id="Detail" class="form-control" type="text" name="detail" ><br>
        <input placeholder="how many calories?" #newCalories id="Calories" class="form-control" type="text" name="calories" ><br>
        <button  (click)="submitForm(newName.value, newDetail.value, newCalories.value); newName.value=''; newDetail.value=''; newCalories.value='';" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
          <i class="material-icons">add</i></button>
        </form>
      </div>
      <hr>
      <br>
    </div>
  </div>
