<div class="container">
  <div class="well">
    <h2>Log-it-Down</h2>
    <form>
      <label for="name">Name:</label>
      <input #newName id="name" class="form-control" type="text" name="name"><br>
      <label for="brand">Detail:</label>
      <input #newDetail id="Detail" class="form-control" type="text" name="brand"><br>
      <label for="price">Calories:</label>
      <input #newCalories id="Calories" class="form-control" type="text" name="price"><br>
      <button (click="submitForm(newName.value, newDetail.value, newCalories.value)" class="addbutton" class="btn btn-caution btn-xs">add</button>
    </form>
  </div>
</div>
