<div *ngIf="childSelectedMeal">
<div class="container">
    <h2>edit log for {{meal.name}}</h2>
    <form>
      <label for="name">Name:</label>
      <input [(ngModel)]="childSelectedMeal.name" id="name" class="form-control" type="text" name="name"><br>

      <label for="Detail">Detail:</label>
      <input [(ngModel)]="childSelectedMeal.detail" id="Detail" class="form-control" type="text" name="brand"><br>

      <label for="Calories">Calories:</label>
      <input [(ngModel)]="childSelectedMeal.calories" id="Calories" class="form-control" type="text" name="price"><br>

      <button  (click)="doneButtonClicked()">done</button>
    </form>
  </div>
</div>
EDIT PGE DISPLAYING
<!-- (click)="finishedEditing()" -->
